/* ↓ 共通のstyle ↓*/
.error {
    color: red;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}
table th {
    border: solid 1.5px black;
    font-size: 12px;
    font-weight: normal;
}

table th input {
    width: 120px;
}

.button {
    display       : inline-block;
    border-radius : 10px;         
    font-size     : 12px;        
    text-align    : center;
    text-decoration: none;      
    cursor        : pointer;     
    padding       : 12px 24px;
    margin: 20px 0;   
    background    : #a9ccee;     
    color         : #000000;        
    border        : 2px solid #a9ccee;  
}

table a {
    text-decoration: none;
    color: deepskyblue;
}


/* ↓ index.phpのstyle ↓ */
.index-table th {
    width: 100px;
    height: 40px;
}

/* ↓ signup.php, edit.php のstyle ↓*/
.table th {
    height: 30px;
}

.table .left {
    width: 120px;
}

.table .right {
    width: 250px;
}

.address {
    height: 100px;
}

.address-right {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.add-left {
    text-align: left;
}

.add-left label {
    display: inline-block;
    margin: 2px 0 9px 0;
}

.add-right {
    text-align: center;
}

.add-right select {
    margin: 10px 0;
}